main {
    margin-top: 2rem;
    padding: 0;
	display:grid;
	/* grid-template-columns: repeat(1, 12fr); */
    grid-template-columns: repeat(12, 1fr);
	gap: 1rem;
}
 article {
    grid-column-start: 3;
    grid-column-end: 11;
    box-sizing: border-box;
    border: 1px solid #111111;
    margin:0;
    }
article#color-column {
    display: none;
}

article h2 {
    background: #F28705;
    margin-right: 5rem;
    padding-left: 1rem;
}

article p {
    margin-left: .5rem;
}
article img {
    box-sizing: border-box;
    border-bottom:1px solid #111111;
    width: 100%;
}

.adresse{
    font-weight:bold;
}


@media screen and (min-width: 768px) {
    main {
        padding: 0 5rem;
    }
    article {
        grid-column: span 4;
    }
}